<div class="comment-content">
    {{ comment._render_text }}
</div>
<div class="comment-author">
    {{ comment.user.name }}
</div>
<div class="comment-author">
    {{ comment.created.strftime("%b %d, %Y") }}
</div>

{% if comment.user.name == user.name %}
<div class="manage-comment">
    <form action="/blog/{{post.key().id()}}/comment/{{comment.key().id()}}/edit" method="get">
        <button type="submit">Edit</button>
    </form>

    <form action="/blog/{{post.key().id()}}/comment/{{comment.key().id()}}/delete" method="post">
        <button type="submit">Delete</button>
    </form>
</div>
{% endif %}